<div class="jumbotron text-center">
    <h1>Mean Authentication App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ipsum amet officiis ratione praesentium, itaque ullam vel neque in architecto molestiae culpa, quos soluta, obcaecati laudantium? Odio molestias dolorum velit!</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>&nbsp;&nbsp;&nbsp;<a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row" style="padding: left 25px;padding-right:25px;">
    <div class="col-md-4">
        <h3>Hanna</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sint, voluptas doloribus consequatur optio quasi dolore rerum iste alias molestiae fugit iure quisquam, officia, amet nam! Voluptatum ullam accusamus illum.</p>
    </div>
    <div class="col-md-4">
        <h3>Jasper</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quo veniam maxime distinctio corporis dolore autem, reprehenderit praesentium ipsam, deleniti similique fugit quibusdam ab minima. Esse quisquam mollitia quia velit.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Chellakutty</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quo veniam maxime distinctio corporis dolore autem, reprehenderit praesentium ipsam, deleniti similique fugit quibusdam ab minima. Esse quisquam mollitia quia velit.
        </p>
    </div>
</div>